.Content h1 {
    font-family: 'Julius Sans One', sans-serif;
}

.Content ul li {
    display: inline; 
    padding: 0.625rem 2.5rem;
}

.Content {
    border: 0.3125rem solid #E5ECEE;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 0.5rem -0.125rem rgba(142, 141, 142, 0.3);
    padding: 1.25rem;
    margin: 3.125rem auto;
    max-width: 43.75rem;
    background-color: #E5ECEE; 
}

.row {
padding: 0.9375rem;
margin-top: 0.5rem;
}

.WeatherTemperature .main-temperature {
    font-size: 4rem;
    position: relative;
    bottom: 1.25rem; 
    padding-left: 1.25rem; 
}

.WeatherTemperature {
    display: float; 
    padding: 1.875rem; 
}

.WeatherTemperature .units {
    position: relative;
    bottom: 3rem;
    left: 0.3125rem; 
}

.weather-data .ul-list {
    list-style: none; 
    margin-bottom: 50px;
    text-align: center; 
    padding: 0.625rem; 
}