

.Content h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5rem; 
    padding-top: 1.25rem;
}

.Content .formatted-date {
    font-size: 1.5625rem; 
    margin-bottom: 1.875rem; 
}

.Content .text-capitalize {
    font-size: 1.5625rem; 
}

.Content ul li {
    display: inline; 
    padding: 0.625rem 2.1875rem;
}


.row {
    padding: 0.9375rem;
    margin-top: 0.5rem;
}

.WeatherTemperature .main-temperature {
    font-size: 4rem;
    position: relative;
    bottom: 1.25rem; 
    padding-left: 1.25rem; 
    font-weight: bold; 
}

.WeatherTemperature {
    padding: 0.75rem; 
}

.WeatherTemperature .units {
    position: relative;
    bottom: 3rem;
    left: 0.3125rem; 
    font-weight: bold;
}

.weather-data .ul-list {
    list-style: none; 
    margin-bottom: 3.125rem;
    text-align: center; 
    padding: 0.625rem; 
    font-size: 1.0625rem; 
}

.weather-data .feelsLike {
    font-size: 0.8125rem; 
    position: relative; 
    bottom: 0.125rem; 
}