.Header .top-nav {
  padding-top: 2.1875rem;
  padding-bottom: 1.625rem;
  margin-bottom: 3.1875rem;
  display: block;
}

.Header {
    width: 100%; 
    background-color: #C6DDE2;
     opacity: 0.7;
}

.Header form {
  margin: 0 auto;
  width: 100%;
  max-width: 18.75rem;
}

.Header .search-input,
.Header .submit-btn,
.Header .location-btn {
  text-align: center;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem;
}

.Header form button {
  color: black;
  background: white;
  transition: all 200ms ease-in-out;
}

.Header form button:hover {
  background: #c1d8dd; 
  color: white;
}

.Header .location-btn {
  padding-right: 0.59375rem;
}