

.Header .top-nav {
  padding-top: 2.1875rem;
  padding-bottom: 1.625rem;
  margin-bottom: 3.1875rem;
  display: block;
   background-color: #C6DDE2;
    opacity: 0.7;
}

.Header form {
  margin: 0 auto;
  max-width: 18.75rem;
}

.Header .search-input,
.Header .submit-btn,
.Header .location-btn {
  text-align: center;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem;
}

.Header .search-input {
  outline-color: lightblue; 
}

.Header form button {
  color: black;
  background: white;
  transition: all 200ms ease-in-out;
}

.Header form button:hover {
  background: #c1d8dd; 
  color: white;
}

.Header .location-btn {
  padding-right: 0.59375rem;
}

.content-wrapper {
   border: 0.3125rem solid #E5ECEE;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 0.5rem -0.125rem rgba(142, 141, 142, 0.3);
    padding: 1.25rem;
    margin: 3.125rem auto;
    max-width: 43.75rem;
    background-color: #E5ECEE; 
}