.WeatherPage .top-nav {
  padding-top: 2.1875rem;
  padding-bottom: 1.625rem;
  margin-bottom: 3.1875rem;
  display: block;
  background-color: transparent;
}

.WeatherPage form {
  margin: 0 auto;
  max-width: 18.75rem;
}

.WeatherPage .search-input,
.WeatherPage .submit-btn,
.location-btn {
  text-align: center;
  border: none;
  border-radius: none; 
  background-color: #ffffff;
  padding: 0.5rem;
  outline-color: lightblue;
}

.WeatherPage .location-btn {
  padding-right: 0.59375rem;
}

.WeatherPage form button {
  color: black;
  background: white;
  transition: all 200ms ease-in-out;
}

.WeatherPage form button:hover {
  background: whitesmoke;
  opacity: 0.8;
  color: grey;
}

.content-wrapper {
  border-radius: 0.625rem;
  box-shadow: 0.1875rem 0.125rem 0.625rem 0.375rem rgb(229, 230, 232, 0.2);
  padding: 1.25rem;
  margin: 3.125rem auto;
  max-width: 43.75rem;
}

.clear {
  background-image: url(./img/clear.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.clouds {
  background-image: url(./img/cloudy.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.rain {
  background-image: url(./img/rain.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.drizzle {
  background-image: url(./img/drizzle.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.snow {
  background-image: url(./img/snow.jpg);
  background-size: cover;
  background-position: bottom;
  color: rgba(255, 255, 255, 0.863);
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.thunderstorm {
  background-image: url(./img/thunderstorm.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.fog {
  background-image: url(./img/fog:mist.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.mist {
  background-image: url(./img/fog:mist.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}
.smoke {
  background-image: url(./img/smoke.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.haze {
  background-image: url(./img/haze.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.sandstorm {
  background-image: url(./img/smoke.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.dust {
  background-image: url(./img/smoke.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.squall {
  background-image: url(./img/squall.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.tornado {
  background-image: url(./img/tornado.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.ash {
  background-image: url(./img/haze.jpg);
  background-size: cover;
  background-position: bottom;
  text-shadow: 0.125rem 0.125rem rgba(142, 141, 142, 0.3);
}

.WeatherPage .Footer {
  padding: 0.625rem;
  margin: 1.25rem 1.25rem 0 1.25rem;
  font-size: 0.75rem;
  padding-bottom: 1.25rem;
  color: white;
}

.WeatherPage .footer-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  width: 12.5rem;
  display: block;
  margin: 0 auto;
  padding: 0;
  border-radius: 0.25rem;
  color: black;
}

.footer-wrapper .footer-link {
  color: darkblue;
}

@media only screen and (min-width: 20rem) and (max-width: 23.375rem) {
  .content-wrapper {
    width: 18.75rem;
    margin-top: -1.375rem;
    height: 1000px;
  }
  .content-wrapper h1 {
    font-size: 1.875rem;
  }
  .Content .formatted-date,
  .Content .text-capitalize {
    font-size: 1.25rem;
  }
  .Footer {
    margin: 0;
  }
}

@media only screen and (max-width: 280px) {
  .content-wrapper {
    width: 260px; 
  }
}

@media only screen and (min-width: 23.4375rem) and (max-width: 25.8125rem) {
  .content-wrapper {
    width: 21.5625rem;
  }
}

@media only screen and (min-width: 414px) and (max-width: 767px) {
  .content-wrapper {
    width: 400px;
  }
}
