.WeatherForecast {
    text-align: center; 
}

.WeatherForecastData {
    color: white; 
}

.WeatherForecast canvas {
    display: block; 
    margin: 5px auto; 
    width: 60px; 
}

.WeatherForecast .hourly-forecast-title {
    color: white; 
}