.WeatherPage .top-nav {
  padding-top: 2.1875rem;
  padding-bottom: 1.625rem;
  margin-bottom: 3.1875rem;
  display: block;
  background-color: #343D82;
}

.WeatherPage form {
  margin: 0 auto;
  max-width: 18.75rem;
}

.WeatherPage .search-input,
.WeatherPage .submit-btn,
.WeatherPage .location-btn {
  text-align: center;
  border: none;
  background-color: #ffffff;
  padding: 0.5rem;
}

.WeatherPage.search-input {
  outline-color: lightblue; 
}

.WeatherPage form button {
  color: black;
  background: white;
  transition: all 200ms ease-in-out;
}

.WeatherPage form button:hover {
  background: #343D82; 
  opacity: 0.8; 
  color: white;
}

.WeatherPage .location-btn {
  padding-right: 0.59375rem;
}

.content-wrapper {
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 0.5rem -0.125rem rgba(142, 141, 142, 0.3);
    padding: 1.25rem;
    margin: 3.125rem auto;
    max-width: 43.75rem;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}